<br><br>
<a href="#" onclick="topFunction()" class="scrolltotop" title="Go to top">Top</a>

<div class="footer">
  <div class="row">
    <div class="col-md-8">
      <h2 class="footer-header">Quick Links</h2>

        <li><a href="/user-profile">User Profile</a></li>
        <li><a href="/tutorial">How to use this website</a></li>
        <li><a href="/about">About</a></li>
    </div>

    <div class="col-md-4">
      <h2 class="footer-header">Social Media Links</h2>
      <div>
        <a href="https://www.google.com" target="_blank" class="btn-g">G<span class="plus">+<span></a>
        <a href="https://www.facebook.com" target="_blank" class="btn-f">f</a>
      </div><br><br>
      <span style="color: white; ">&copy; All Rights Reserved.</span>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/script.js"></script>
</body>
</html>
